{{/* 
  Responsive Image Partial (using img tag with srcset)
  
  Usage:
  {{ partial "responsive-img.html" (dict 
    "src" "images/hero.jpg"
    "alt" "Hero image"
    "class" "responsive-img"
    "sizes" (slice 1200 800 600 400)
    "sizesAttr" "(width <= 600px) 400px, (width <= 800px) 600px, 800px"
  ) }}
  
  Or with automatic sizes attribute generation:
  {{ partial "responsive-img.html" (dict 
    "src" "images/hero.jpg"
    "alt" "Hero image"
    "sizes" (slice 1200 800 600 400)
    "breakpoints" (slice 
      (dict "media" "600px" "size" "400px")
      (dict "media" "800px" "size" "600px")
      (dict "fallback" "800px")
    )
  ) }}
*/}}

{{- $src := .src -}}
{{- $alt := .alt | default "" -}}
{{- $class := .class | default "" -}}
{{- $sizes := .sizes -}}
{{- $sizesAttr := .sizesAttr | default "" -}}
{{- $breakpoints := .breakpoints -}}
{{- $format := .format | default "webp" -}}
{{- $fallbackFormat := .fallbackFormat | default "" -}}

{{/* Check if image is SVG */}}
{{- $isSVG := eq (path.Ext $src) ".svg" -}}

{{/* Check if image is remote */}}
{{- $isRemote := or (hasPrefix $src "http://") (hasPrefix $src "https://") -}}

{{/* Handle SVG case - output simple img tag */}}
{{- if $isSVG -}}
  <img src="{{ $src }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }}>
{{- else -}}
  {{/* Get the image resource */}}
  {{- $image := "" -}}
  {{- if $isRemote -}}
    {{- $tryResult := try (resources.GetRemote $src) -}}
    {{- if $tryResult -}}
      {{- $image = $tryResult.Value -}}
    {{- else -}}
      {{/* Fallback if remote image fails to load */}}
      <img src="{{ $src }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }}>
    {{- end -}}
  {{- else -}}
    {{- $image = resources.Get $src -}}
  {{- end -}}

  {{- if $image -}}
    {{/* Generate srcset */}}
    {{- $srcset := slice -}}
    {{- $fallbackSrc := "" -}}
    
    {{- range $i, $size := $sizes -}}
      {{- $resized := "" -}}
      {{- if eq $format "webp" -}}
        {{- $resized = $image.Resize (printf "%dx webp" $size) -}}
      {{- else -}}
        {{- $resized = $image.Resize (printf "%dx" $size) -}}
      {{- end -}}
      {{- $srcset = $srcset | append (printf "%s %dw" $resized.RelPermalink $size) -}}
      
      {{/* Use the largest size as fallback src */}}
      {{- if eq $i 0 -}}
        {{- $fallbackSrc = $resized.RelPermalink -}}
      {{- end -}}
    {{- end -}}

    {{/* Generate sizes attribute if breakpoints are provided and sizesAttr is not */}}
    {{- if and $breakpoints (not $sizesAttr) -}}
      {{- $sizesList := slice -}}
      {{- range $breakpoints -}}
        {{- if .media -}}
          {{- $sizesList = $sizesList | append (printf "(width <= %s) %s" .media .size) -}}
        {{- else if .fallback -}}
          {{- $sizesList = $sizesList | append .fallback -}}
        {{- end -}}
      {{- end -}}
      {{- $sizesAttr = delimit $sizesList ", " -}}
    {{- end -}}

    {{/* Output the img tag */}}
    <img 
      srcset="{{ delimit $srcset ", " }}"
      {{- if $sizesAttr }} sizes="{{ $sizesAttr }}"{{ end }}
      src="{{ $fallbackSrc }}" 
      alt="{{ $alt }}"
      {{- with $class }} class="{{ . }}"{{ end }}>
      
  {{- else -}}
    {{/* Fallback if image resource not found */}}
    <img src="{{ $src }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }}>
  {{- end -}}
{{- end -}}